* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #FAF2CC;
}
pre {
	font-size: 18px !important; 
	display: block;
	outline: none;
}
.passageEditArea {
	border-bottom: 1px solid rgba(50, 50, 50, .25);
	height: 100%;
	overflow-x: hidden;
	word-wrap: break-word;
	outline: none;
	font-size: 24px;
	text-indent: 2em;
	padding-left: 5px;
	padding-right: 5px;
}

.passageEditArea div{
	text-indent: 2em;
	font-size: 24px;
	
}

.passageEditArea:focus {
	background-color: rgba(255, 255, 255, .25);
	border-radius: 8px;
}

.drawArea {
	text-indent: 0px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 14px;
	height: auto;
	width: 90%;
	margin-top: 10px;
	padding: 0px;
	text-indent: 0px !important;
	
}
.drawArea *{
	text-indent: 0px;
	font-size: 14px;
}
.drawArea canvas{
	border: 1px solid rgba(34,34,34,.35);	
	background-color: #FAF2CC;

}
.btnBox{
	display: block !important;
	width: 100%;
	min-height: 34px;
}
