* {
	margin: 0px;
	padding: 0px;
}

#mask {
	position: absolute !important;
	top: 0;
	background-color: rgba(0, 0, 0, .75);
	display: none;
	height: 100%;
}

.maskAction {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

iframe {
	border: 0px;
	margin: 0px;
	padding: 0px;
	height: 76%;
	width: 100%;
}

.passageTitle {
	height: 10%;
	border-bottom: 1px solid rgba(50, 50, 50, .25);
	overflow-x: hidden;
	word-wrap: break-word;
	outline: none;
}

.passageTitle:focus {
	background-color: rgba(255, 255, 255, .25);
	border-radius: 8px;
}

#submitWarning {
	height: 30%;
	min-height: auto;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 25%;
}

#submitWarning h3 {
	text-align: center;
}

#submitWarning input {
	min-height: 70px;
	width: 96%;
	padding-left: 8px;
}

#submitWarning div {
	width: 100%;
	margin: 2%;
}

.leftMenuBox {
	height: 100%;
	margin: 0px !important;
	box-shadow: 0px 0px 5px rgba(34, 34, 34, .35);
}

.userInfo {
	height: auto;
	padding: 10px;
	padding-top: 14px;
	display: flex;
	box-shadow: 0px 0px 5px rgba(34, 34, 34, .35);
	margin-top: 3px;
	margin-bottom: 2%;
}

#userHead {
	flex: 1;
	min-width: 0px;
	margin-right: 8px;
	min-height: 0px;
	max-height: 55px;
}

.username {
	flex: 3;
}

.mainBox {
	margin: 0px !important;
	height: 100%;
}

.historyList {
	border-top: 1px solid rgba(50, 50, 50, .25);
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	height: auto;
	max-height: 80%;
	padding: 10px;
}

.listItem {
	height: auto;
	box-shadow: 0px 0px 5px rgba(34, 34, 34, .35);
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
	width: 100%;
	
}

.listItem p {
	max-height: 100px;
	word-wrap: break-word;
	overflow: hidden;
}
.listItem span {
	margin-bottom: 10px; 
}
.listItem * {
	border-bottom: 1px solid rgba(50, 50, 50, .25);
	padding-bottom: 5px;
}

.listItem *:last-child {
	border-bottom: 0px;
}

.toolsBox {
	height: 100%;
	margin: 0px !important;
	box-shadow: 0px 0px 5px rgba(34, 34, 34, .35);
	display: flex;
}
@media screen and (max-width:900px){
	.toolsBox {
		height: auto;
		padding: 10px;
	}
	.historyList {
		border-top: 1px solid rgba(50, 50, 50, .25);
		overflow-y: auto;
		display: flex;
		flex-direction: row;
		height: 100;
		max-height: 80%;
		padding: 10px;
	}
	.leftMenuBox {
		height: auto;
		margin: 0px !important;
		box-shadow: 0px 0px 5px rgba(34, 34, 34, .35);
	}
	.listItem {
		height: auto;
		flex: 1;
		box-shadow: 0px 0px 5px rgba(34, 34, 34, .35);
		border-radius: 5px;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 8px;
		width: 100%;
		margin-right: 8px; 
	}
	
	.listItem p {
		max-height: 80px;
		word-wrap: break-word;
		overflow: hidden;
	}
	
	.listItem * {
		border-bottom: 1px solid rgba(50, 50, 50, .25);
		padding-bottom: 5px;
	}
	.mainBox {
		margin: 10px !important;
		height: 90%;
	}
}