.container{
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
.articleTitle{
  height: 15%;
  width: calc(100%-2em);
  padding-left:2em;
  padding-top:10px;
  font-size: 2.5em;
  border-bottom: 1px solid rgba(34, 34, 34, .3)  ;
}
.labelBox{
  height: 10%;
  padding-left:2em;
  width: calc(100%-2em);
  display: flex;
  border-bottom: 1px solid rgba(34, 34, 34, .3)  ;
  align-items: center;
}
.articleLabel{
  height: 36px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius:18px;
  background-color: #fff; 
}
.articleContentBox{
  height: calc(75%-10px) ;
  width: 100%;
}
.articleContentBox p{
  padding-left:2em;
  padding-right:2em;
  margin: 0px;
  padding-top:10px; 
  width: calc(100%-4em);
  height: auto;
  word-wrap: break-word;
}